html{
    background-color: rgb(226, 224, 224);
}

.body{
    
    margin-left: 3em;
}
.top_section {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    
}

.card {
    margin: .2em .3em;
}

.selector {
    
}

.controller{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

.controller button {
    margin: .5em;
}

.highlight {
    outline: black inset 4px;
    outline-offset: -4px;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50em;
    height: 30em;
    margin-top: 3em;
    border: 3px black solid;
    border-radius: 2em;
}

.topOfTable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.centerCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7em;
}
.bottomOfTable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7em;
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 6em;
}

.upper{
    position: relative;
    top: 5em;
}

.lower {
    position: relative;
    bottom: 5em;
}

.leftPosition.lower{
    left: .65em;
}

.rightPosition.lower{
    right: .65em;
}